<ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#F8C611" type="line-scale-pulse-out-rapid" [fullScreen]="true">
</ngx-spinner>

<main>
    <form [formGroup]="form" (ngSubmit)="listReporte()"
        class="bg-white shadow-lg rounded px-2 pb-1  mb-4   grid grid-cols-12">
        <!-- numero document -->
        <div class=" col-span-12  px-2 flex flex-col">
            <label class="text-sm font-medium text-plomo-21 ">Buscar Por:</label>
            <mat-radio-group (change)="changeBusqueda($event.value)" formControlName="TipoBusqueda" mat-radio-group aria-label="Select an option"
                class=" rounded   text-sm  text-plomo-21 shadow py-2">
                <mat-radio-button value="1" class="pl-4">DNI</mat-radio-button>
                <mat-radio-button value="2" class="pl-4">DNI + Fecha</mat-radio-button>
                <mat-radio-button value="3" class="pl-4">Entre Fechas</mat-radio-button>
            </mat-radio-group>
            <!-- <p class="text-red-500 text-xs italic">Por favor rellene este campo.</p> -->
        </div>
        <!-- numero document -->
        <fieldset [disabled]="form.value.TipoBusqueda === '3' || form.value.TipoBusqueda === '4' " class=" col-span-12 lg:col-span-3 sm:col-span-6  px-2">
            <label class=" w-full  text-sm font-medium text-plomo-21">N° Documento:</label>
            <input  (keypress)="svalidator.validateKey($event, 8)"
                    type="number"
                    class="w-full forms-control  items-center flex text-sm focus:ring-amarillo-500 sm:mb-1  border-gray-400 focus:border-amarillo-500 text-SM focus py-2 rounded"
                    [class.error]="dniInvalid"
                    placeholder="Ingrese N° Documento"
                    formControlName="DNI"
                    >
            <p *ngIf="dniInvalid" class="text-red-500 text-xs italic">Por favor rellene este campo.</p>
        </fieldset>

        <fieldset class=" col-span-12 lg:col-span-3 sm:col-span-6  px-2">
            <label class=" w-full md:pb-1 text-sm font-medium text-plomo-21">Desde - Hasta</label>
            <div [class.error]="fechaiInvalid || fechafInvalid" class="flex w-full px-2 border border-gray-400 rounded items-center h-10 sm:mb-1  text-plomo-21">
                <mat-date-range-input [disabled]="form.value.TipoBusqueda === '1' " [rangePicker]="picker">
                    <input [readOnly]="true" formControlName="FechaInicial" matStartDate placeholder="12/07/2021"
                        class="w-full px-2  text-plomo-21 placeholder-gray-500 text-sm font-medium focus:outline-none">
                    <input [readOnly]="true" formControlName="FechaFinal" matEndDate placeholder="5/10/2022"
                        class="w-full px-2  text-plomo-21 placeholder-gray-500 text-sm font-medium focus:outline-none">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
            <p *ngIf="fechaiInvalid || fechafInvalid" class="text-red-500 text-xs italic">Por favor rellene este campo.</p>

        </fieldset>
        <!-- todoas las sedes -->
        <div class=" col-span-12 lg:col-span-3 sm:col-span-6  px-2">
            <br *ngIf="!_login.Administrador">
            <mat-checkbox *ngIf="_login.Administrador" (change)="resetSedes()" formControlName="allSedes" class=" w-full  text-sm font-medium text-plomo-21 -mt-1">Todas Las Sedes</mat-checkbox>
            <mat-select [disabled]="form.value.allSedes || !_login.Administrador" formControlName="IDSede" [class.error]="sedeInvalid" type="text" placeholder="Seleccione una opción"
                class="w-full forms-control   items-center flex text-sm focus:ring-amarillo-500 sm:mb-1  border-gray-400 focus:border-amarillo-500 text-SM focus py-2 rounded">
                <mat-option [value]="item.IDSede" *ngFor="let item of listSedes" >{{ item.AliasSede }}</mat-option>
            </mat-select>
            <p *ngIf="sedeInvalid" class="text-red-500 text-xs italic">Por favor rellene este campo.</p>
        </div>

        <div class=" col-span-12 lg:col-span-1  sm:col-span-6 px-2 sm:mt-6">
            <button type="submit"
                class="w-full sm:px-3 h-10  focus:outline-none bg-amarillo-500 hover:bg-yellow-400 rounded flex items-center justify-center">
                <svg class="w-7 h-7 text-black" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                    height="1em"
                    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path
                        d="M17 9h-.5h.5M7 15h3c.08-.68.23-1.36.5-2H7v2m4.9-4.1A6.53 6.53 0 0 1 16.5 9H7v2h4.82c.03-.03.05-.06.08-.1m0 9.2c.36.35.75.64 1.16.9H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h4.18c.32-.84.96-1.5 1.82-1.8c1.53-.56 3.25.24 3.82 1.8H19a2 2 0 0 1 2 2v5.82a6.44 6.44 0 0 0-2-1.32V5h-2v2H7V5H5v14h6.03c.24.39.54.76.87 1.1M11 4c0 .55.45 1 1 1s1-.45 1-1s-.45-1-1-1s-1 .45-1 1m12.39 17L22 22.39l-3.12-3.07c-.69.43-1.51.68-2.38.68c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5s4.5 2 4.5 4.5c0 .88-.25 1.71-.69 2.4l3.08 3.1M19 15.5a2.5 2.5 0 0 0-5 0a2.5 2.5 0 0 0 5 0z"
                        fill="#626262" />
                </svg>
            </button>
        </div>

        <div class="  lg:col-span-1  sm:col-span-6  col-span-12 px-2 md:mt-6">
            <button (click)="exportAsExcel()" type="button"
                class=" px-5 h-10 w-full sm:w-auto flex items-center justify-center focus:outline-none bg-green-500 hover:bg-green-600 text-white rounded">
                <svg class="w-7 h-7 fill-current text-white" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                    height="1em"
                    style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                    <g>
                        <path fill-rule="evenodd"
                            d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                        <path
                            d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773C16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593c.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318C1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                    </g>
                </svg>
                <span class="pl-2 text-sm font-medium uppercase">Excel</span>
            </button>
        </div>

    </form>


    <div class="mat-elevation-z8 overflow-auto">
        <table mat-table [dataSource]="dataSource">

            <!-- numero -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef class="flex-nowrap"> N°. </th>
                <td mat-cell *matCellDef="let element"> {{element.Numero}} </td>
            </ng-container>

            <!--documento -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Documento</th>
                <td mat-cell *matCellDef="let element"> {{element.NumeroIdentificacion}} </td>
            </ng-container>
            <!-- cliente -->
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element " class="whitespace-nowrap"> {{element.Cliente}} </td>
            </ng-container>
            <!-- tipocertidicado-->
            <ng-container matColumnDef="tipoc">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Tipo Certificado </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.TipoCertificado}} </td>
            </ng-container>

            <!-- Sresolucion -->
            <ng-container matColumnDef="resolucion">
                <th mat-header-cell *matHeaderCellDef> Resolución </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Resolucion}} </td>
            </ng-container>
            <!-- horas-->
            <ng-container matColumnDef="horas">
                <th mat-header-cell *matHeaderCellDef> Horas </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.CantHoras}} </td>
            </ng-container>

            <!-- fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="director">
                <th mat-header-cell *matHeaderCellDef> Director </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Director}} </td>
            </ng-container>


            <!-- ver -->
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="editreportecert(element)" class="focus:outline-none hover:bg-gray-100 px-1 py-1 rounded">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                            height="1em"
                            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                            <g fill="#626262" fill-rule="evenodd">
                                <path
                                    d="M15.682 2.91l-1.535-1.514c-.41-.408-1.218-.577-1.607-.189L6.485 7.234s-1.321 3.913-1.446 4.242c-.099.262.231.59.46.475c.374-.186 4.105-1.631 4.105-1.631l6.071-6.057c.39-.388.418-.946.007-1.353zM9.021 9.854l-2.567.974l-.461-.425l1.225-2.965l.741.546h1.058l.004 1.87z" />
                                <path
                                    d="M12.042 10.345v3.697H.958V3l8.183-.083l.812-.859H0V15h13l-.057-5.422l-.901.767z" />
                            </g>
                        </svg> </button>
                </td>
            </ng-container>


            <!-- Imprimir -->
            <ng-container matColumnDef="quitar">
                <th mat-header-cell *matHeaderCellDef> Imprimir </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="print(element)" type="button" class="focus:outline-none bg-red-50 px-1 py-1 rounded">
                        <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                            height="1em"
                            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                            <path fill="#424242" d="M9 11h30v3H9z" />
                            <path fill="#616161" d="M4 25h40v-7c0-2.2-1.8-4-4-4H8c-2.2 0-4 1.8-4 4v7z" />
                            <path fill="#424242" d="M8 36h32c2.2 0 4-1.8 4-4v-8H4v8c0 2.2 1.8 4 4 4z" />
                            <circle fill="#00E676" cx="40" cy="18" r="1" />
                            <path fill="#90CAF9" d="M11 4h26v10H11z" />
                            <path fill="#242424"
                                d="M37.5 31h-27c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h27c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5z" />
                            <path fill="#90CAF9" d="M11 31h26v11H11z" />
                            <path fill="#42A5F5" d="M11 29h26v2H11z" />
                            <g fill="#1976D2">
                                <path d="M16 33h17v2H16z" />
                                <path d="M16 37h13v2H16z" />
                            </g>
                        </svg> </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</main>

<app-guadarexitosamente [success]="success" [message]="message" > </app-guadarexitosamente>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>