<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="flex min-h-screen items-center justify-center bg-gray-50 fondo ">


    <div class="md:w-1/2 max-w-md mx-auto items-center justify-center px-6 py-16  bg-white  sm:shadow-lg border-gray-300   rounded-lg">
        <div class="flex items-center justify-center sm:justify-start">
            <div class="h-9 sm:h-12 object-cover bg-cover">
                <img class="h-full object-cover bg-cover" src="assets/img/grupoleon.png" alt="">
            </div>
            <span class="text-lg sm:text-2xl font-semibold text-plomo-21">LEON <span class="text-amarillo-500 ">CORP</span></span>
        </div>
        <div class=" pt-2 mb-7">
            <span class="font-medium text-lg text-gray-900 ">Iniciar sesión en la cuenta</span>
            <p class="text-xs sm:text-sm">Ingrese su número documento y contraseña para iniciar sesión</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="login()">

            <!-- (Usuario) -->
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-7">
                    <label for="" class="text-sm  text-gray-900 font-medium  mb-2 px-1">Número documento</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                            <svg width="22" height="22" class="w-6 h-6" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z"
                                fill="#F8C611" />
                            </svg>
                        </div>
                        <input (keypress)="svalidator.validateKey( $event, 8)"
                                type="number"
                                class="w-full -ml-10 pl-11 pr-4 py-3  rounded-md border focus:ring-gray-500 focus:border-plomo-21 text-sm border-gray-300 outline-none focus"
                                [class.error]="dniInvalid"
                                placeholder="Ingrese su número documento"
                                required
                                formControlName="dni"
                                >
                    </div>
                    <!-- classe  hidden ocultar -->
                    <small *ngIf="dniInvalid" class="text-red-700 text-xs"> El número documento es obligatorio</small>
                </div>
            </div>


            <!-- (Contraseña) -->
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-8">
                    <label for="" class="text-sm  text-gray-900 font-medium  mb-2 px-1">Contraseña</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
                                <path    d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z"
                                    fill="#F8C611" />
                            </svg>
                        </div>
                        <input  type="password"
                                class="w-full -ml-10 pl-11 pr-4  py-3 rounded-md border focus:ring-gray-500 focus:border-plomo-21 text-sm border-gray-300 outline-none focus"
                                [class.error]="passInvalid"
                                placeholder="************"
                                required
                                formControlName="password"
                                >
                    </div>
                    <!-- classe  hidden ocultar -->
                    <small *ngIf="passInvalid" class="text-red-700 text-xs"> Ingrese Contraseña es obligatorio</small>
                </div>
            </div>

            <!-- Recordar Contraseña -->
            <label class="text-gray-500 cursor-pointer mb-6 flex items-center" for="remember">
                <input  class="leading-tight text-amarillo-500 focus:bg-amarillo-500 focus:ring-amarillo-500 h-5 w-5"
                        type="checkbox"
                        id="remember"
                        name="remember"
                        formControlName="remember"
                        >
                <span class="text-sm pl-2">
                    Recordar contraseña
                </span>
            </label>
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-5">
                    <!-- [routerLink]="['/dashboard']" routerLinkActive="router-link-active" -->
                    <button type="submit"  class="w-full rounded-sm flex items-center justify-center mx-auto text-base bg-amarillo-500 hover:bg-amarillo-600  focus:outline-none text-white  px-3 py-3 font-medium pr-2">
                        Iniciar Sesión                     
                    </button>
                </div>
            </div>
        </form>

        <!-- mensaje de datos incorrectos -->
        <div *ngIf="error" class="flex items-center bg-red-600  text-white text-sm font-medium px-4 py-3 animate-pulse animated fadeIn" role="alert">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
            <span> Algo sucedió que debes conocer.</span>
        </div>
    </div>

    <div class="w-1/2 md:block hidden">
        <img class="w-11/12 h-full" src="assets/img/login/03.svg" alt="">
    </div>
</div>