
<div *ngIf="error"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animated fadeIn">
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
        role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white pt-1">
            <div class="flex justify-end">
                <button (click)="_sendError()"
                    class="p-1 border border-gray-200 rounded-full focus:outline-none hover:bg-red-50">
                    <svg class="w-6 h-6 text-gray-800 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>
            <div class="flex justify-center h-24">
                <img src="assets/img/login/question.svg" alt="">
            </div>
            <div class="flex items-center justify-center">
                <span class="text-sm  leading-6 text-center font-medium text-gray-900"> {{ message }}
                </span>
                <div class="mx-auto flex-shrink-0 flex items-center justify-center  rounded-full  sm:mx-0 sm:h-10 sm:w-10">
                    <!-- Heroicon name: outline/exclamation -->
                    <svg class="h-6 w-6 text-amarillo-500 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 px-2 py-3 sm:px-6 flex justify-center items-center space-x-2">
            <button type="button" (click)="_sendDelete( true )"
                class="inline-flex justify-center  text-black rounded-md border border-transparent shadow-sm py-2 w-full px-3  md:px-14 bg-amarillo-500 text-base font-medium hover:bg-amarillo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amarillo-500 sm:ml-3 sm:w-auto sm:text-sm">
                Si
            </button>
            <button type="button" (click)=" _sendError() "
                class="  inline-flex justify-center rounded-md border border-gray-300 shadow-sm w-full py-2 px-3  md:px-14  bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amarillo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                No
            </button>
        </div>
    </div>
</div>


<div *ngIf="error" class="opacity-25 fixed inset-0 z-40 bg-black"></div>