<ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#F8C611" type="line-scale-pulse-out-rapid"
    [fullScreen]="true">
</ngx-spinner>

<div class="bg-white pt-1">
    <header class="flex justify-between items-center border-b border-gray-200  pb-2">
        <span class="text-amarillo-500 text-base font-medium">Editar Certificado</span>
        <button mat-dialog-close
            class="p-1 rounded-full border hover:bg-red-50 transition duration-300 ease-in border-gray-50 focus:outline-none">
            <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </header>

    <div class=" md:overflow-hidden">
        <div class="relative  flex-auto w-fulL ">
            <form [formGroup]="form" (ngSubmit)="updateCertificado()"
                class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4  w-full  flex items-center ">

                <div class="w-full  col-span-3">
                    <label class=" w-full md:pb-1 text-sm font-medium text-plomo-21 text-ber ">N° Documento:</label>
                    <input (keyup.enter)="search()" (keypress)="svalidator.validateKey($event, 8)" type="number"
                        class="w-full forms-control  items-center flex focus:ring-amarillo-500 f border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                        [class.error]="dniInvalid" required placeholder="Ingrese N° Documento"
                        formControlName="NumeroIdentificacion">
                    <p *ngIf="dniInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo. </p>
                </div>

                <!-- Nuevo cliente -->
                <div class="w-full  mt-4 col-span-1">
                    <button (click)="search()" type="button"
                        class="w-full py-2 flex items-center px-2 bg-amarillo-500 hover:bg-amarillo-600 justify-center font-medium text-gray-900 text-sm focus:outline-none border-2 border-amarillo-500 rounded">
                        <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                            height="1em"
                            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path
                                d="M10 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2zM4 18c.22-.72 3.31-2 6-2c0-.7.13-1.37.35-1.99C7.62 13.91 2 15.27 2 18v2h9.54c-.52-.58-.93-1.25-1.19-2H4zm15.43.02c.36-.59.57-1.28.57-2.02c0-2.21-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4c.74 0 1.43-.22 2.02-.57L20.59 22L22 20.59c-1.5-1.5-.79-.8-2.57-2.57zM16 18c-1.1 0-2-.9-2-2s.9-2 2-2s2 .9 2 2s-.9 2-2 2z"
                                fill="black" />
                        </svg>
                        <span class="text-black hidden sm:flex"> Buscar </span>
                    </button>

                </div>

                <!-- nombre -->
                <fieldset disabled class="w-full  col-span-4">
                    <label class=" w-full  text-sm font-medium text-plomo-21 text-ber ">Cliente:</label>
                    <input type="text"
                        class=" uppercase w-full forms-control  items-center error flex focus:ring-amarillo-500 border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                        [class.error]="clienteInvalid" required placeholder="Nombres y Apellidos" formControlName="cliente">
                    <p *ngIf="clienteInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </fieldset>

                <!-- tipo certificado -->
                <div class="w-full  col-span-4">
                    <label class=" w-full  text-sm font-medium text-plomo-21 text-ber  ">Tipo Certificado:</label>
                    <mat-select formControlName="IDCertificadoAutorizado" [class.error]="certificadoInvalid" type="text"
                        placeholder="Seleccione una opción"
                        class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option [value]="item.IDCertificadoAutorizado" *ngFor="let item of listCertificados">{{
                            item.Alias }}</mat-option>
                    </mat-select>

                    <p *ngIf="certificadoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!-- <div class="w-full  col-span-4">
                    <label class=" w-full  text-sm font-medium text-plomo-21 text-ber">Director:</label>     
                    <mat-select  type="text"
                    placeholder="Seleccione una opción" class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                    <mat-option value="">jose peres</mat-option>
                    <mat-option value="">RUC</mat-option>
                    <mat-option value="">CARNET EXTRANJERIA</mat-option>               
                </mat-select>    
                </div> -->


                <!--footer-->
                <footer class="flex justify-end space-x-3 col-span-4">
                    <button type="button" mat-dialog-close mat-raised-button
                        class="text-black bg-transparent  text-sm border-2 border-red-500 hover:bg-red-50 transition duration-300 ease-in font-medium  w-32  h-10 rounded outline-none focus:outline-none mr-1 mb-1"
                        style="transition: all .15s ease">
                        Cancelar
                    </button>

                    <button type="submit" mat-raised-button
                        class=" text-black border border-solid border-amarillo-500 bg-amarillo-500  hover:bg-amarillo-600 hover:border-amarillo-600 transition duration-300 ease-in  font-medium  text-sm   w-32 h-10 rounded outline-none focus:outline-none mr-2 mb-1"
                        style="transition: all .15s ease">
                        Guardar
                    </button>
                </footer>
            </form>
            <br>
        </div>
    </div>
</div>

<app-guadarexitosamente [success]="success" [message]="message" > </app-guadarexitosamente>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>