
<header  class="-mt-6 -mr-6 relative flex justify-end items-center" >
    <button mat-dialog-close class="rounded-full border hover:bg-gray-200 border-gray-200 focus:outline-none">
      <svg class="w-7 h-7  text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </header>
  
      <!-- ver -->
  <main class="relative  flex-auto w-full overscroll-y-auto  respo md:overflow-y-hidden md:h-auto">
        <!-- tipo -->
        <section class="w-full md:mb-2 flex justify-center items-center bg-gray-200">
          <form class="w-full">
            <embed id="ifrm"
            type="application/pdf" class="pdf"/>
  
          </form>
        </section>
  </main>
  
  <app-modal-error [error]='error' [message]='message' (send)='error = $event'></app-modal-error>