<ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#F8C611" type="line-scale-pulse-out-rapid" [fullScreen]="true">
</ngx-spinner>

<div class="mx-auto px-5 pb-5">
    <h1 class="pb-1 font-sans text-sm font-medium text-gray-400 uppercase pt-3">BUSCADOR</h1>
    <section class="relative flex-auto p-2  w-ful shadow-md border border-gray-200 rounded hover:shadow-lg transition">
        <form class="grid w-full grid-cols-1 gap-2 pb-2 md:grid-cols-2 xl:grid-cols-3 md:gap-4">
            <div class="w-full md:mb-2 xl:col-span-2">
                <label class="block w-full pb-1 text-sm font-medium text-black">Buscar Clientes:</label>
                <input #search type="search" placeholder="Buscar Clientes..."
                    class=" uppercase w-full mb-1 border-1 border-plomo-400 rounded-md text-base placeholder-gray-300 forms-control focus" id="search">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>
            <!-- botones Buscar y nuevo -->
            <div class="flex justify-end col-span-1 px-8 space-x-3">
                <!-- Buscar -->
                <div class="w-full md:mb-2">
                    <button type="button" class="w-full py-3 mt-5 text-sm font-medium text-white transition duration-300 bg-amarillo-500 border-2 border-amarillo-500 rounded btn focus:outline-none">
                        Buscar
                    </button>
                </div>

                <!-- NUEVO -->
                <div class="w-full md:mb-2">
                    <button (click)="nuevocliente()"  type="button" class="flex py-3 items-center justify-center w-full mt-5 text-sm font-medium text-amarillo-500 transition duration-300 border-2 border-amarillo-500 rounded btn focus:outline-none hover:bg-red-50">
                        <svg class="w-4 h-4 text-amarillo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        <span class="pl-2">Nuevo</span>
                    </button>
                </div>
            </div>
        </form>
    </section>

    <div class="mat-elevation-z8 overflow-auto  max-h-64 mt-9 ">
        <table mat-table [dataSource]="dataSource">

            <!-- Tipo documento -->
            <ng-container matColumnDef="tipodoc">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Tipo Doc </th>
                <td mat-cell *matCellDef="let element"> {{element.Documento}} </td>
            </ng-container>

            <!-- Numero documento -->
            <ng-container matColumnDef="numerod">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">N° Documento</th>
                <td mat-cell *matCellDef="let element"> {{element.NumeroIdentificacion}} </td>
            </ng-container>

            <!-- Nombres -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element " class="whitespace-nowrap"> {{element.Nombres}} </td>
            </ng-container>

            <!-- Apellidos -->
            <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Apellidos </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Apellidos}} </td>
            </ng-container>

            <!-- Departamento -->
            <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{ element.Departamento }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Direccion}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> teléfono </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Telefono1}} </td>
            </ng-container>
            <!-- correo -->
            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef> correo </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Correo}} </td>
            </ng-container>
            <!-- fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Fecha revalidacion </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.FechaNacimiento}} </td>
            </ng-container>

            <!-- Editar -->
            <ng-container  matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="nuevocliente()"  type="button" class="focus:outline-none hover:bg-gray-100 px-1 py-1 rounded">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="#626262" fill-rule="evenodd"><path d="M15.682 2.91l-1.535-1.514c-.41-.408-1.218-.577-1.607-.189L6.485 7.234s-1.321 3.913-1.446 4.242c-.099.262.231.59.46.475c.374-.186 4.105-1.631 4.105-1.631l6.071-6.057c.39-.388.418-.946.007-1.353zM9.021 9.854l-2.567.974l-.461-.425l1.225-2.965l.741.546h1.058l.004 1.87z"/><path d="M12.042 10.345v3.697H.958V3l8.183-.083l.812-.859H0V15h13l-.057-5.422l-.901.767z"/></g></svg>
                    </button>
                </td>
            </ng-container>

            <!-- Eliminar -->
            <ng-container matColumnDef="quitar">
                <th mat-header-cell *matHeaderCellDef> eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button  class="focus:outline-none bg-red-50 px-1 py-1 rounded">
                        <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" fill="red"/></svg>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
    <app-table-dynamic class="px-2 overflow-scroll h-56" [columns]='columns' [displayedColumns]='displayedColumns' [dataSource]='dataSource' [dataTheDB]='dataTheDB'
        (sendOperation)='enventOperation( $event )' (sendAgregar)='_Agregar($event)' ></app-table-dynamic> -->
</div>


<!-- modal nuevo cliente -->
<div *ngIf="newClient"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animated fadeIn">
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
        role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white pt-1 p-2 px-3">
            <div class="relative w-auto  mx-auto max-w-7xl">
                <!-- TITULO NUEVO CLIENTE -->
                <header class="flex justify-between items-center border-b border-gray-100 pb-2">
                    <h2 class="text-red-600 text-sm font-medium uppercase">Nuevo Cliente</h2>
                    <button
                        class="p-1 rounded-full border border-gray-200 focus:outline-none">
                        <svg class="w-5 h-5  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </header>
                <!-- CONTENIDO DEL CLIENTE -->
                <main class="relative sm:p-2 flex-auto  pt-2 overflow-y-scroll md:overflow-hidden h-96 sm:h-auto">
                    <form [formGroup]="form" (ngSubmit)="SaveClient()" class="grid grid-cols-1 sm:grid-cols-2 gap-x-2">
                        <!-- Nombres -->
                        <div class=" w-full sm:mb-1">
                            <label class="text-gray-800 font-medium flex items-center text-sm w-full pb-1">Tipo
                                Documento:
                                <!-- //mensaje en nube -->
                                <div class=" flex flex-col pl-3">
                                    <div class="relative  sm:max-w-xl sm:mx-auto ">
                                        <div class="group cursor-pointer relative inline-block   text-center">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8 0C3.58214 0 0 3.58214 0 8C0 12.4179 3.58214 16 8 16C12.4179 16 16 12.4179 16 8C16 3.58214 12.4179 0 8 0ZM8 14.6429C4.33214 14.6429 1.35714 11.6679 1.35714 8C1.35714 4.33214 4.33214 1.35714 8 1.35714C11.6679 1.35714 14.6429 4.33214 14.6429 8C14.6429 11.6679 11.6679 14.6429 8 14.6429Z"
                                                    fill="#E82424" />
                                                <path
                                                    d="M9.99236 4.51243C9.45665 4.04279 8.74951 3.78564 7.99951 3.78564C7.24951 3.78564 6.54236 4.04457 6.00665 4.51243C5.44951 4.99993 5.14236 5.65529 5.14236 6.35707V6.49279C5.14236 6.57136 5.20665 6.63564 5.28522 6.63564H6.14236C6.22094 6.63564 6.28522 6.57136 6.28522 6.49279V6.35707C6.28522 5.56957 7.05486 4.9285 7.99951 4.9285C8.94415 4.9285 9.71379 5.56957 9.71379 6.35707C9.71379 6.91243 9.32094 7.42136 8.71201 7.65529C8.33344 7.79993 8.01201 8.0535 7.78165 8.38564C7.54772 8.72493 7.42629 9.13207 7.42629 9.54457V9.9285C7.42629 10.0071 7.49058 10.0714 7.56915 10.0714H8.42629C8.50486 10.0714 8.56915 10.0071 8.56915 9.9285V9.52314C8.57007 9.34979 8.62321 9.18074 8.72164 9.03803C8.82007 8.89533 8.95922 8.78559 9.12094 8.72314C10.1745 8.31779 10.8549 7.38922 10.8549 6.35707C10.8567 5.65529 10.5495 4.99993 9.99236 4.51243ZM7.28522 11.9285C7.28522 12.1179 7.36048 12.2996 7.49443 12.4336C7.62839 12.5675 7.81007 12.6428 7.99951 12.6428C8.18895 12.6428 8.37063 12.5675 8.50458 12.4336C8.63854 12.2996 8.71379 12.1179 8.71379 11.9285C8.71379 11.7391 8.63854 11.5574 8.50458 11.4234C8.37063 11.2895 8.18895 11.2142 7.99951 11.2142C7.81007 11.2142 7.62839 11.2895 7.49443 11.4234C7.36048 11.5574 7.28522 11.7391 7.28522 11.9285Z"
                                                    fill="#E82424" />
                                            </svg>

                                            <div
                                                class="opacity-0  w-64 bg-black text-white text-center text-xs rounded-lg py-2 absolute  group-hover:opacity-100   left-0  px-3 pointer-events-none">
                                                Texto explicativo que ocupa dos reglones como maximo de mensaje!
                                                <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px"
                                                    y="0px" viewBox="0 0 255 255" xml:space="preserve">
                                                    <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                            <!-- Tipo de Documento -->
                            <!-- <mat-select formControlName="idtipodocumento"  type="text" required placeholder="Seleccione una opcion"
                                class="text-sm forms-control  focus mb-1" [class.error]="tipoDocumentoInvalid">
                                <mat-option *ngFor="let item of listDocumentos" value="{{ item.Clave }}">{{ item.NombreDocumento }}</mat-option>
                            </mat-select>
                            <p *ngIf="tipoDocumentoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                        </div>

                        <!-- Numero de Identificación -->
                        <div class=" w-full sm:mb-1 ">

                            <label class="labelclass relative">Número de Identificación  
                                <div  class="absolute top-0   -ml-1 right-12 -mr-2 w-5 h-5 text-sm animate-ping  font-medium text-center bg-red-600 border-white text-white rounded-full"></div>
                                <div  class="absolute top-0   -ml-1 right-12  -mr-2 w-5 h-5 text-sm  border-white font-medium text-center bg-red-600 text-white rounded-full">{{ 'countndoc' }}</div>
                            </label>
                            <input type="number" name="numerodocumento" class="text-sm forms-control w-full  focus mb-1"
                                 required placeholder="Ingresa una Identificación"
                                formControlName="numerodocumento">

                            <!-- <p *ngIf="nDocumentoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                        </div>

                        <!-- Nombre Completo -->
                        <div class=" w-full sm:mb-1">
                            <label class=" labelclass">Nombre Completo:</label>
                            <input type="text" class=" uppercase text-sm forms-control py-1  w-full focus mb-1"
                                 placeholder="Ingresa un Nombre" required
                                formControlName="cliente">
                            <!-- <p *ngIf="clienteInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo. -->
                            <!-- </p> -->
                        </div>

                        <!-- Direccion -->
                        <div class=" w-full sm:mb-1">
                            <label class=" labelclass">Dirección:</label>
                            <input type="text" class="uppercase text-sm forms-control py-1  w-full focus mb-1"
                                 placeholder="Ingresa un Dirección"
                                formControlName="direccion">

                            <!-- <p *ngIf="direccionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este
                                campo.</p> -->
                        </div>

                        <!-- referecia direccion -->
                        <div class=" w-full sm:mb-1">
                            <label class=" labelclass">Ref. Dirección:</label>
                            <input type="text" class=" uppercase text-sm forms-control py-1  w-full focus mb-1"
                                 placeholder="Ingresa Ref. Dirección"
                                formControlName="referencia">
                            <!-- <p *ngIf="refDireccionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este
                                campo.</p> -->
                        </div>

                        <!-- Telefono / Celular -->
                        <div class=" w-full sm:mb-1">
                            <label class=" labelclass">Telefono / Celular:</label>
                            <input type="number" class="text-sm forms-control py-1 w-full focus mb-1"
                                 placeholder="Ingresa Telefono/Celular"
                                formControlName="telefono">

                            <!-- <p *ngIf="telefonoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este
                                campo.</p> -->

                        </div>

                        <!-- Correo -->
                        <div class="col-span-2 sm:mb-1">
                            <label class="labelclass">Correo:</label>

                            <input type="text">

                            <!-- <mat-chip-list class="flex flex-wrap w-full  border-b border-gray-300   text-xs focus" #chipList>
                                <mat-chip class="text-xs bg-gray-100  font-normal" *ngFor="let correoE of  correoE"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(correoE)">
                                    {{correoE}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input (keypress)="validate_email($event)" class=" h-10 w-full rounded" placeholder="Ingresa correo..."
                                 [class.invalid]="emailInvalid"
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="" (matChipInputTokenEnd)="add($event)">
                              </mat-chip-list> -->
                        </div>

                        <footer class="flex items-center justify-center sm:justify-start sm:p-3 sm:space-x-4">
                            <!-- Boton Guardar -->
                            <button
                                class=" text-white border border-solid border-red-500 bg-red-500 text-sm hover:bg-red-600 transition duration-300 ease-in font-medium uppercase px-4 sm:px-8 py-2 rounded outline-none focus:outline-none mr-2 mb-1"
                                type="submit" style="transition: all .15s ease">
                                Guardar
                            </button>

                            <!-- Boton Cancelar -->
                            <button
                                class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-100  active:bg-red-600 font-medium uppercase text-sm px-4 sm:px-8 py-2 rounded outline-none focus:outline-none mr-1 mb-1"
                                type="button" style="transition: all .15s ease">
                                Cancelar
                            </button>
                        </footer>

                    </form>
                </main>
            </div>
        </div>
    </div>
</div>

<div *ngIf="newClient" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


<!-- <app-modaldelete [error]='delete' [mesage]='message' (Send)='delete = $event' (SendDelete)='deleteClient( $event )' > </app-modaldelete>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-alert [alert]='success' [mensage]='message'></app-alert> -->