
<ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#F8C611" type="line-scale-pulse-out-rapid"
    [fullScreen]="true">
</ngx-spinner>

<main class="md:px-1 py-2">
    <section class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-1 w-full">
        <div class="shadow-md col-span-1 border-gray-300 w-full">
            <form [formGroup]="form" (ngSubmit)="search()"
                class="w-full grid grid-cols-1  sm:grid-cols-2 md:grid-cols-6 ">
                <!-- dni -->
                <div class=" mb-1 col-span-5 flex">
                    <div>
                        <!-- (keypress)="svalidator.validateKey($event, 8)" -->
                        <input autocomplete="off" id="dniSelect" (keyup.enter)="search()" (keypress)="validatedni($event, 8)"
                            (keydown)="svalidator.SoloNumeros( $event )"
                            class="w-full forms-control focus:ring-amarillo-500 font-medium border-gray-400 focus:border-amarillo-500 text-sm focus h-10 rounded-l rounded-r-none"
                            [class.error]="dniInvalid" name="dni" type="text" placeholder="Ingrese DNI"
                            formControlName="Filtro">
                        <small *ngIf="dniInvalid" class=" text-xs font-medium text-red-600">Campo requerido</small>
                    </div>

                    <div class="flex gap-0.5">
                        
                        <!-- buscar -->
                        <button type="submit"
                            class="px-3 h-10  focus:outline-none bg-amarillo-500 rounded-l-none rounded-r-sm">
                            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em"
                                height="1em"
                                style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path
                                    d="M10 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2zM4 18c.22-.72 3.31-2 6-2c0-.7.13-1.37.35-1.99C7.62 13.91 2 15.27 2 18v2h9.54c-.52-.58-.93-1.25-1.19-2H4zm15.43.02c.36-.59.57-1.28.57-2.02c0-2.21-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4c.74 0 1.43-.22 2.02-.57L20.59 22L22 20.59c-1.5-1.5-.79-.8-2.57-2.57zM16 18c-1.1 0-2-.9-2-2s.9-2 2-2s2 .9 2 2s-.9 2-2 2z"
                                    fill="black" />
                            </svg>
                        </button>

                        <!-- clientes -->
                        <!-- <button (click)="nuevocliente( false )" type="button"
                            class="px-3 h-10  focus:outline-none bg-amarillo-500 rounded-l-none rounded-r-sm">
                            <svg class="w-6 h-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
                                 />
                              </svg>

                        </button> -->
                    </div>
                </div>
                <!-- campo  no editabel solo muestra datos -->
                <fieldset disabled class="col-span-6 -mt-2">
                    <input
                        class=" w-full forms-control focus:ring-amarillo-500 font-medium border-gray-400 focus:border-amarillo-500 text-sm focus py-3 rounded"
                        name="dni" type="text" placeholder="Nombres y Apellidos" formControlName="nombres">
                </fieldset>
            </form>
        </div>

        <!-- listado de  trnasportes -->
        <div class="shadow-md w-full sm:col-span-2 border-gray-300">
            <div *ngIf="certificados"
                class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2 overflow-y-auto h-36">
                <button *ngFor="let item of listCertificados" (click)="ir_certificado( item )" type="button"
                    class="bg-blue-500 relative dark:bg-gray-800 shadow-lg rounded-md w-full focus:outline-none flex items-center text-center justify-center px-1 xl:px-2  py-2 md:py-2 border-b-4 border-blue-600 hover:bg-blue-500 dark:border-gray-600 text-white font-medium ">
                    <div
                        class="flex justify-center absolute -bottom-1  border-blue-500 border  -left-1 items-center w-9 h-9 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12 ml-2">
                        <img id="logo1" class="w-6 h-6  rounded" [src]="sfn.convertbs64ForSrc(item.Imagen)" alt="img" />
                    </div>
                    <span class="text-center justify-center items-center flex  xl:text-sm uppercase px-5"
                        style="font-size: 11.5px; text-align: center;">{{ item.NombreCertificado }}</span>
                </button>
            </div>
        </div>
    </section>

</main>


<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<div class="mat-elevation-z8 overflow-auto">
    <table mat-table [dataSource]="dataSource">

        <!-- numero -->
        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef class="flex-nowrap"> N°. </th>
            <td mat-cell *matCellDef="let element">{{ element.Serial }}</td>
        </ng-container>

        <!-- Documneto-->
        <ng-container matColumnDef="neditificacion">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.Documento}} </td>
        </ng-container>
        <!-- cliente -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element " class="whitespace-nowrap"> {{element.Cliente}} </td>
        </ng-container>
        <!-- tipo certificado -->
        <ng-container matColumnDef="tipoc">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Tipo Certificado </th>
            <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.NombreCertificado}} </td>
        </ng-container>

        <!-- resolucion -->
        <ng-container matColumnDef="resolucion">
            <th mat-header-cell *matHeaderCellDef> Resolución </th>
            <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Resolucion}} </td>
        </ng-container>

        <!-- horas -->
        <ng-container matColumnDef="horas">
            <th mat-header-cell *matHeaderCellDef> Horas </th>
            <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.CantHoras}} </td>
        </ng-container>

        <!-- ver -->
        <ng-containe matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef> Ver </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-raised-button [disabled]="element.Serial === '--'" (click)="verCertificado(element)" type="button"
                    class="focus:outline-none hover:bg-gray-100 px-1 py-1 rounded">
                    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" focusable="false" width="1em" height="1em"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <g fill="none">
                            <path
                                d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19c-4.182 0-7.764-4.013-9.257-5.962a1.692 1.692 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5c4.182 0 7.764 4.013 9.257 5.962z"
                                stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <circle cx="12" cy="12" r="3" stroke="#626262" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </g>
                    </svg> </button>
            </td>
        </ng-containe>

        <!-- eliminar -->
        <ng-container matColumnDef="quitar">
            <th mat-header-cell *matHeaderCellDef> Quitar </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button [disabled]="element.Serial !== '--'" (click)="showModalDelete( i )" class="focus:outline-none bg-red-50 px-1 py-1 rounded">
                    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" focusable="false" width="1em" height="1em"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path *ngIf="element.Serial === '--'"
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"
                            fill="red" />

                            <path *ngIf="element.Serial !== '--'"
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"
                            fill="gray" />
                    </svg>
                </button>
            </td>
        </ng-container>
        <!-- lista cabecera de  la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- contenido de  cada tabla -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<div class="flex space-x-5 justify-end mt-5">
    <!-- guardar -->
    <button [disabled]="SaveCompleted" mat-raised-button (click)="saveCertificado()"
        class="border-2  px-10 w-40 h-10 focus:outline-none  text-sm text-white rounded  text "
        [ngClass]="{'border-gray-500 bg-gray-500': SaveCompleted, 'border-amarillo-500 bg-amarillo-500 hover:bg-amarillo-600 hover:border-amarillo-600' : !SaveCompleted}"
        >
        Guardar
    </button>
    <!-- imprimir  (disabled)-->
    <button [disabled]="!SaveCompleted" (click)="printMassive()" type="button" mat-raised-button
        class=" border-2 w-40 h-10 focus:outline-none text-sm text-white rounded text"
        [ngClass]="{'border-amarillo-500 bg-amarillo-500 hover:bg-amarillo-600 hover:border-amarillo-600': SaveCompleted, 'border-gray-500 bg-gray-500':!SaveCompleted}"
        >
        Imprimir
    </button>
</div>


<app-guadarexitosamente [success]="success" [message]="message"> </app-guadarexitosamente>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modaldelete [error]='delete' [message]='message' (Send)='delete = $event' (SendDelete)='quitarItem( $event )'>
</app-modaldelete>