<div class="bg-white pt-1 " style="width: 100%;">
    <header class="flex justify-between items-center border-b border-gray-200  pb-1">
        <span class="text-amarillo-500 text-base font-medium">Registro Cliente</span>
        <button mat-dialog-close class="p-1 rounded-full border hover:bg-red-50 transition duration-300 ease-in border-gray-50 focus:outline-none">
            <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </header>

    <div class="overflow-auto respo md:overflow-hidden ">
        <div class="relative  flex-auto w-fulL pt-5">
            <form  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-3 gap-y-2 w-full pb-2">


                <!-- Sede valido -->
                <div class="w-full  sm:col-span-3">
                    <mat-select    required type="text" placeholder="Seleccione una opción" class="w-full col-span-1 sm:col-span-3 forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option >DAniel</mat-option>
                    </mat-select>
                    <!-- <p *ngIf="sedeInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>


                <!-- tipo Documento valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Tipo Documento:(*)</label>
                    <mat-select   required type="text" placeholder="Seleccione una opción" class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option  >BErna</mat-option>
                    </mat-select>
                    <!-- <p *ngIf="documentInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!-- Numero documento valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">N° Documento:(*)</label>
                    <input   type="number" class="w-full forms-control  items-center flex focus:ring-amarillo-500 f border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"  required placeholder="Ingrese N° Identificacion" >
                    <!-- <p *ngIf="numerodocInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo. </p> -->
                </div>

                <!-- nombre valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Nombres:(*)</label>
                    <input type="text" class="w-full forms-control  items-center flex focus:ring-amarillo-500 border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"  placeholder="Ingrese Nombres" required >
                    <!-- <p *ngIf="nombresInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!-- apellidos valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Apellidos:(*)</label>
                    <input type="text" class="w-full forms-control  items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"  placeholder="Ingrese Apellidos" required >
                    <!-- <p *ngIf="apellidosInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!-- Departamneto valido -->

                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Departamento:(*)</label>
                    <mat-select   required type="text" placeholder="Seleccione una opción" class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option  >Hola</mat-option>
                    </mat-select>

                    <!-- <p *ngIf="departamentoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->

                </div>

                <!-- Direccion opcional -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Dirección:</label>
                    <input  type="text"
                            class="w-full forms-control  items-center flex focus:ring-amarillo-500 border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            placeholder="Ingrese Direccion"
                            
                            >
                    <!-- <p *ngIf="direccionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!--telefono valido-->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Teléfono:(*)</label>
                    <input  
                            type="number"
                            class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            
                            placeholder="Ingrese Teléfono"
                            required
                            
                            >
                    <!-- <p *ngIf="telefonoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!--Correo opcional -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Correo:</label>
                    <input  type="text"
                            class="w-full forms-control  items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            
                            placeholder="Ingrese Correo"
                            
                            >
                    <!-- <p *ngIf="correoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>


                <!-- Fecha valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black">Fecha revalidacion:</label>
                    <mat-checkbox   class=" px-3 md:pb-1 text-sm font-medium text-black">Revalidación</mat-checkbox>
                    <fieldset  class="flex w-full px-2 border border-gray-400 rounded " >
                        <input readonly  required class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none" name="fecha" placeholder="17/10/2020" [matDatepicker]="fecha">
                        <mat-datepicker #fecha> </mat-datepicker>
                        <button type="button" (click)="fecha.open()" class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                            <svg class="w-6 h-6 text-amarillo-500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z" fill="#626262"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                        </button>
                        
                    </fieldset>

                    <!-- <p *ngIf="fechaNaciInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <br>

                <!--footer-->
                <footer class="flex justify-end  space-x-3 sm:col-span-3">
                  
                    <div class="flex items-center  justify-end space-x-1 sm:space-x-4">
                        <button type="button" mat-dialog-close mat-raised-button class="text-black bg-transparent  text-sm border-2 border-red-500 hover:bg-red-50 transition duration-300 ease-in font-medium w-24  sm:w-32  h-10 rounded outline-none focus:outline-none mr-1 mb-1"
                            style="transition: all .15s ease">
                            Cancelar
                    </button>

                        <button type="submit" mat-raised-button class=" text-black border border-solid border-amarillo-500 bg-amarillo-500  hover:bg-amarillo-600 hover:border-amarillo-600 transition duration-300 ease-in  font-medium  text-sm   w-24 sm:w-32 h-10 rounded outline-none focus:outline-none mr-2 mb-1"
                            style="transition: all .15s ease">
                        Guardar
                    </button>
                    </div>
                </footer>

            </form>
        </div>
       
    </div>

</div>