<div class="navbar flex items-center px-1 sm:px-4 bg-yellow-500">
    <!-- nav left -->
    <ul class="navbar-nav flex items-center px-4">
        <li class="nav-item ">
            <a routerLink="/dashboard/registrocertificado" class=" cursor-pointer items-center  flex flex-wrap ">
                <div class="h-9 sm:h-12 object-cover bg-cover">
                    <img class="h-full object-cover bg-cover" src="assets/img/grupoleon.png" alt="">
                </div>
                <span class="text-lg sm:text-2xl font-semibold text-plomo-21">LEON <span class="text-amarillo-500 ">CORP</span></span>
            </a>
        </li>

        <li class="nav-item pl-3 md:pl-8">
            <a class="nav-link" onclick="collapseSidebar()">
                <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                  </svg>
            </a>
        </li>
    </ul>


    <!-- nav right -->
    <ul class="navbar-nav nav-right flex items-center space-x-6">
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <div class="relative flex items-center">
                    <span data-toggle="user-menu" class=" dropdown-toggle  focus:outline-none flex items-center">
                        <span class="w-11 object-cover  relative float-right mr-2 cursor-pointer hover:text-gray-700 ">
                            <img id="logo1" data-toggle="user-menu"
                                class="object-cover border border-gray-200  dropdown-toggle w-10 h-10 rounded-md shadow"
                                [src]="data.Foto" alt="logo" appImageInvalid  />
                            <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-4 animate-ping"></div>
                            <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-4">
                            </div>
                        </span>

                    <span data-toggle="user-menu" class="text-sm font-medium  dropdown-toggle">{{ data.RazonSocial }}</span>
                    <div class="ml-2 hidden md:block">
                        <svg data-toggle="user-menu" class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                    </div>
                    </span>
                </div>

                <main id="user-menu" class="dropdown-menu">
                    <div class=" w-full">
                        <!-- Nombre y su cargo -->
                        <section class="text-center w-full">
                            <div class="flex justify-center pt-3"><img id="logo2" class="object-cover h-36 w-full" [src]="data.Foto" alt="logo" appImageInvalid ></div>
                            <div class="font-medium">{{ data.Nombre }}</div>
                            <div class="text-gray-400 text-sm">{{ data.Administrador ? 'Administrador' : 'Usuario' }}</div>
                        </section>
                        <!-- Botones  -->
                        <section class="grid grid-cols-1 md:grid-cols-2 md:flex  md:justify-center w-full pb-5 border-b border-gray-200 ">
                            <div class="focus:outline-none col-span-1  flex justify-center">
                                <button (click)="sauth.logout()" type="button" class=" rounded-md text-sm focus:outline-none px-10 py-2 text-white bg-yellow-500 ">  Cerrar Sesión</button>
                            </div>
                        </section>
                    </div>
                </main>
            </div>
        </li>
    </ul>
    <!-- end nav right -->
</div>