<ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#F8C611" type="line-scale-pulse-out-rapid" [fullScreen]="true">
</ngx-spinner>

<div class="bg-white pt-1 " style="width: 100%;">
    <header class="flex justify-between items-center border-b border-gray-200  pb-1">
        <span class="text-amarillo-500 text-base font-medium">Registro Cliente</span>
        <button mat-dialog-close class="p-1 rounded-full border hover:bg-red-50 transition duration-300 ease-in border-gray-50 focus:outline-none">
            <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </header>

    <div class="overflow-auto respo md:overflow-hidden ">
        <div class="relative  flex-auto w-fulL pt-5">
            <form [formGroup]="form" (ngSubmit)="save()" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-3 gap-y-2 w-full pb-2">


                <!-- Sede valido -->
                <div class="w-full  sm:col-span-3">
                    <mat-select [disabled]="!_login.Administrador" formControlName="IDSede" [class.error]="sedeInvalid" required type="text" placeholder="Seleccione una opción" class="w-full col-span-1 sm:col-span-3 forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option [value]="item.IDSede" *ngFor="let item of listSedes">{{ item.AliasSede }}</mat-option>
                    </mat-select>
                    <p *ngIf="sedeInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>


                <!-- tipo Documento valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Tipo Documento:(*)</label>
                    <mat-select formControlName="IDDocumento" [class.error]="documentInvalid" required type="text" placeholder="Seleccione una opción" class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option [value]="item.IDDocumento" *ngFor="let item of listDocument">{{ item.Documento }}</mat-option>
                    </mat-select>
                    <p *ngIf="documentInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!-- Numero documento valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">N° Documento:(*)</label>
                    <input (keyup.enter)="getReniec()" (keypress)="svalidator.validateKey($event, 8)" type="number" class="w-full forms-control  items-center flex focus:ring-amarillo-500 f border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded" [class.error]="numerodocInvalid" required placeholder="Ingrese N° Identificacion" formControlName="NumeroIdentificacion">
                    <p *ngIf="numerodocInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo. </p>
                </div>

                <!-- nombre valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Nombres:(*)</label>
                    <input type="text" class="w-full forms-control  items-center flex focus:ring-amarillo-500 border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded" [class.error]="nombresInvalid" placeholder="Ingrese Nombres" required formControlName="Nombres">
                    <p *ngIf="nombresInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!-- apellidos valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Apellidos:(*)</label>
                    <input type="text" class="w-full forms-control  items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded" [class.error]="apellidosInvalid" placeholder="Ingrese Apellidos" required formControlName="Apellidos">
                    <p *ngIf="apellidosInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!-- Departamneto valido -->

                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Departamento:(*)</label>
                    <mat-select formControlName="IDDepartamento" [class.error]="departamentoInvalid" required type="text" placeholder="Seleccione una opción" class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded">
                        <mat-option [value]="item.IDDepartamento" *ngFor="let item of listDepartamento" >{{ item.Departamento }}</mat-option>
                    </mat-select>

                    <p *ngIf="departamentoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>

                </div>

                <!-- Direccion opcional -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Dirección:</label>
                    <input  type="text"
                            class="w-full forms-control  items-center flex focus:ring-amarillo-500 border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            placeholder="Ingrese Direccion"
                            formControlName="Direccion"
                            >
                    <!-- <p *ngIf="direccionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>

                <!--telefono valido-->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Teléfono:(*)</label>
                    <input  (keypress)="svalidator.validateKey($event, 9)"
                            type="number"
                            class="w-full forms-control items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            [class.error]="telefonoInvalid"
                            placeholder="Ingrese Teléfono"
                            required
                            formControlName="Telefono1"
                            >
                    <p *ngIf="telefonoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <!--Correo opcional -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black ">Correo:</label>
                    <input  type="text"
                            class="w-full forms-control  items-center flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            [class.error] = "correoInvalid"
                            placeholder="Ingrese Correo"
                            formControlName="Correo"
                            >
                    <p *ngIf="correoInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>


                <!-- Fecha valido -->
                <div class="w-full md:mb-2">
                    <label class=" w-full md:pb-1 text-sm font-medium text-black">Fecha revalidacion:</label>
                    <mat-checkbox (change)="changeRevalidacion()" formControlName="Revalidar" class=" px-3 md:pb-1 text-sm font-medium text-black">Revalidación</mat-checkbox>
                    <fieldset [disabled]="!form.value.Revalidar" class="flex w-full px-2 border border-gray-400 rounded " [class.error]="fechaNaciInvalid">
                        <input readonly formControlName="FechaNacimiento" required class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none" name="fecha" placeholder="17/10/2020" [matDatepicker]="fecha">
                        <mat-datepicker #fecha> </mat-datepicker>
                        <button type="button" (click)="fecha.open()" class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
                            <svg class="w-6 h-6 text-amarillo-500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z" fill="#626262"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
                        </button>
                        
                    </fieldset>

                    <p *ngIf="fechaNaciInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                </div>

                <br>

                <!--footer-->
                <footer class="flex justify-end  space-x-3 sm:col-span-3">
                    <!-- <input  (keydown.enter)="$event.preventDefault()"
                            (keyup)="filterCliente(filter.value)"
                            (search)="filterCliente(filter.value)"
                            #filter
                            type="search"
                            class="uppercase w-full forms-control  items-center hidden sm:flex focus:ring-amarillo-500  border-gray-400 focus:border-amarillo-500 text-sm focus py-2 rounded"
                            required
                            placeholder="Buscar Cliente"
                            > -->
                    <div class="flex items-center  justify-end space-x-1 sm:space-x-4">
                        <button type="button" mat-dialog-close mat-raised-button class="text-black bg-transparent  text-sm border-2 border-red-500 hover:bg-red-50 transition duration-300 ease-in font-medium w-24  sm:w-32  h-10 rounded outline-none focus:outline-none mr-1 mb-1"
                            style="transition: all .15s ease">
                            Cancelar
                    </button>

                        <button type="submit" mat-raised-button class=" text-black border border-solid border-amarillo-500 bg-amarillo-500  hover:bg-amarillo-600 hover:border-amarillo-600 transition duration-300 ease-in  font-medium  text-sm   w-24 sm:w-32 h-10 rounded outline-none focus:outline-none mr-2 mb-1"
                            style="transition: all .15s ease">
                        Guardar
                    </button>
                    </div>
                </footer>

            </form>
        </div>


        <!-- <div class="mat-elevation-z8 overflow-auto  max-h-64 ">
            <table mat-table [dataSource]="dataSource">

                
                <ng-container matColumnDef="tipodoc">
                    <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Tipo Doc </th>
                    <td mat-cell *matCellDef="let element"> {{element.Documento}} </td>
                </ng-container>

                
                <ng-container matColumnDef="numerod">
                    <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">N° Documento</th>
                    <td mat-cell *matCellDef="let element"> {{element.NumeroIdentificacion}} </td>
                </ng-container>

               
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                    <td mat-cell *matCellDef="let element " class="whitespace-nowrap"> {{element.Nombres}} </td>
                </ng-container>

                
                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Apellidos </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Apellidos}} </td>
                </ng-container>

                
                <ng-container matColumnDef="departamento">
                    <th mat-header-cell *matHeaderCellDef> Departamento </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{ element.Departamento }} </td>
                </ng-container>

                
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Direccion}} </td>
                </ng-container>


                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> teléfono </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Telefono1}} </td>
                </ng-container>
                
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> correo </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.Correo}} </td>
                </ng-container>
                
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Fecha revalidacion </th>
                    <td mat-cell *matCellDef="let element" class="whitespace-nowrap"> {{element.FechaNacimiento}} </td>
                </ng-container>


                
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> Editar </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="loadEdit(element)" type="button" class="focus:outline-none hover:bg-gray-100 px-1 py-1 rounded">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="#626262" fill-rule="evenodd"><path d="M15.682 2.91l-1.535-1.514c-.41-.408-1.218-.577-1.607-.189L6.485 7.234s-1.321 3.913-1.446 4.242c-.099.262.231.59.46.475c.374-.186 4.105-1.631 4.105-1.631l6.071-6.057c.39-.388.418-.946.007-1.353zM9.021 9.854l-2.567.974l-.461-.425l1.225-2.965l.741.546h1.058l.004 1.87z"/><path d="M12.042 10.345v3.697H.958V3l8.183-.083l.812-.859H0V15h13l-.057-5.422l-.901.767z"/></g></svg>
                        </button>
                    </td>
                </ng-container>



                
                <ng-container matColumnDef="quitar">
                    <th mat-header-cell *matHeaderCellDef> eliminar </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="showDelete(element.IDCliente)" class="focus:outline-none bg-red-50 px-1 py-1 rounded">
                            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" fill="red"/></svg>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> -->
    </div>




    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

</div>

<app-guadarexitosamente [success]="success" [message]="message" > </app-guadarexitosamente>
<app-modal-error [error]='error' [message]='message' [cnn_expi]='cnn_expi' (send)='error = $event'></app-modal-error>
<app-modaldelete [error]='delete' [message]='message' (Send)='delete = $event' (SendDelete)='deleteClient( $event )'></app-modaldelete>