<!-- Modal de error  -->
<div *ngIf="error" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex" style="background: rgba(0, 0, 0, 0.7)">
    <div class="relative my-6 w-auto md:w-1/3 xl:w-1/4">
        <div class="border-0 rounded-lg shadow-lg relative p-4 flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="w-full">
                <div class="flex justify-center items-center pb-5">
                    <svg class="text-yellow-600 h-16 w-16 p-2 border border-yellow-600 rounded animate-pulse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                      </svg>
                </div>
                <div class="w-full">
                    <h1 class="text-lg font-bold text-center text-yellow-500">
                        Oops... <img src="ass" alt="">
                    </h1>
                    <h2 class="text-sm  font-medium text-center text-gray-800">
                        {{ message }}
                    </h2>
                </div>

                <div class="flex justify-center pt-4">
                    <button (click)="this.error = !this.error; sendEvent()" type="button" class="bg-yellow-500  font-medium  py-2 px-6 focus:outline-none text-black rounded-md transition duration-300 ease-in ml-4">
                        De Acuerdo
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!error" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>