<!-- Siderbar de configuraciones  -->
<aside class="sidebar">
    <ul class="sidebar-nav">
   
        <!-- registrar certificado -->
        <li class="sidebar-nav-item mt-8">
            <a routerLink="/dashboard/registrocertificado" class="sidebar-nav-link  hover:bg-yellow-50  hover:text-amarillo-600" (click)="toggleTabs(1)" [ngClass]="{'text-gray-800': !openTab1, 'active': openTab1}">
                <div>
                    <svg class="h-7 w-7 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M8 12h8v2H8v-2m2 8H6V4h7v5h5v3.1l2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h4v-2m-2-2h4.1l.9-.9V16H8v2m12.2-5c.1 0 .3.1.4.2l1.3 1.3c.2.2.2.6 0 .8l-1 1l-2.1-2.1l1-1c.1-.1.2-.2.4-.2m0 3.9L14.1 23H12v-2.1l6.1-6.1l2.1 2.1z" />
                    </svg>
                </div>
                <span class="text-sm font-medium">Registro certificados</span>
            </a>
        </li>

        <!-- reporte certificado -->
        <li class="sidebar-nav-item">
            <a routerLink="/dashboard/reportecertificado" class="sidebar-nav-link  hover:bg-yellow-50 hover:text-amarillo-600" (click)="toggleTabs(2)" [ngClass]="{'text-gray-800': !openTab2, 'active': openTab2}">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg> </div>
                <span class="text-sm font-medium">Reporte certificados </span>
            </a>
        </li>

        <!-- Clientes -->
        <!-- <li class="sidebar-nav-item">
            <a routerLink="/dashboard/clientes" class="sidebar-nav-link  hover:bg-yellow-50 hover:text-amarillo-600" (click)="toggleTabs(3)" [ngClass]="{'text-gray-800': !openTab3, 'active': openTab3}">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg> </div>
                <span class="text-sm font-medium">Clientes </span>
            </a>
        </li> -->

        <li class="sidebar-nav-item">
            <a routerLink="/dashboard/clientes" class="sidebar-nav-link  hover:bg-yellow-50 hover:text-amarillo-600" (click)="toggleTabs(3)" [ngClass]="{'text-gray-800': !openTab3, 'active': openTab3}">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                </div>
                <span class="text-sm font-medium">Clientes </span>
            </a>
        </li>

        


        <!-- <mat-accordion>

            
            <li class=" w-full  relative" 
            class="flex items-center   text-sm w-full  text-gray-600    focus:outline-none hover:text-red-600 focus:text-red-600" >
                <a [routerLink]="['bienvenido']" routerLinkActive="router-link-active" class="sidebar-nav-link w-full  focus:text-red-600 hover:text-red-600">
                    <div>
                        <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999787 11.0002H1.99979V18.0002C1.99979 19.1032 2.89679 20.0002 3.99979 20.0002H15.9998C17.1028 20.0002 17.9998 19.1032 17.9998 18.0002V11.0002H18.9998C19.1975 11.0002 19.3908 10.9415 19.5552 10.8316C19.7197 10.7217 19.8478 10.5656 19.9235 10.3829C19.9991 10.2002 20.0189 9.99912 19.9804 9.80517C19.9418 9.61122 19.8466 9.43305 19.7068 9.2932L10.7068 0.293201C10.614 0.200255 10.5038 0.126518 10.3825 0.0762068C10.2612 0.0258961 10.1311 0 9.99979 0C9.86845 0 9.73841 0.0258961 9.61709 0.0762068C9.49578 0.126518 9.38558 0.200255 9.29279 0.293201L0.292787 9.2932C0.152977 9.43305 0.057771 9.61122 0.0192035 9.80517C-0.0193641 9.99912 0.000438951 10.2002 0.076109 10.3829C0.151779 10.5656 0.279918 10.7217 0.444328 10.8316C0.608738 10.9415 0.802037 11.0002 0.999787 11.0002ZM7.99979 18.0002V13.0002H11.9998V18.0002H7.99979ZM9.99979 2.4142L15.9998 8.4142V13.0002L16.0008 18.0002H13.9998V13.0002C13.9998 11.8972 13.1028 11.0002 11.9998 11.0002H7.99979C6.89679 11.0002 5.99979 11.8972 5.99979 13.0002V18.0002H3.99979V8.4142L9.99979 2.4142Z" />
                        </svg>
                    </div>
                    <span class="text-sm font-medium">Inicio</span>
                </a>
            </li>

            <mat-expansion-panel class="relative  flex items-center w-full">
                
                <mat-expansion-panel-header class="flex items-center  text-sm w-full  text-gray-600   focus:outline-none hover:text-red-600 focus:text-red-600 ">
                    <div class="flex items-center">
                        <div class="pl-2">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <span class="pl-7 font-medium">Certificados</span>
                    </div>
                </mat-expansion-panel-header>

                <ul>
                    
                    <li>
                        <a [routerLink]="['ventarapida']" routerLinkActive="router-link-active"
                            
                            class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                            <span class="mr-4">
                                <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span class="pl-2">Venta Rápida</span>
                        </a>
                    </li>
                    
                    <li >
                        <a [routerLink]="['ventanormal']" routerLinkActive="router-link-active"
                            
                            class="flex px-6 py-3 items-center hover:text-red-600 focus:text-red-600 font-medium text-gray-600 focus:outline-none text-sm ">
                            <span class="mr-4">
                                <svg class="w-3 h-3 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span class="pl-2">Venta Normal</span> </a>
                    </li>

                   
                </ul>
            </mat-expansion-panel>

            

        </mat-accordion> -->





    </ul>
</aside>