<div class="flex h-screen  bg-white overlay-scrollbar">
    <div class="flex flex-col flex-1  overflow-hidden h-screen">
        <app-navbar> </app-navbar>
        <app-siderbar></app-siderbar>
        <main class="flex-1 max-h-full px-2  xl:px-3 pt-5 overflow-hidden overflow-y-scroll wrapper">
            <router-outlet> </router-outlet>
            <!-- <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll"> -->
            <!-- Selector dowdloand massive -->
        </main>

        <!-- <app-footer class="z-10 pt-8"> </app-footer> -->
    </div>


</div>